<div class='classAd group'>
 
    <div class='leftCol group'>
        <img [src]='courseimageURL' class='classThumnailImage' *ngIf='courseimageURL'><br clear='all'>
        <div class='regButton' (click)='register()' *ngIf='showRegButtons && currentUser'>Register for this class</div>
        <div class='regButton' (click)='login()' *ngIf='!currentUser'>Login or Sign up to Register for this class</div>
    </div>
    <div class='classDescription'>
    <h1>{{classObject.title}}</h1>
    <div class='classDate'>{{classObject.start | date : 'MMMM dd,' }} -
        {{classObject.end | date : 'MMMM dd, yyyy'}}</div>

     <p>{{ description }}</p>
     <div *ngIf='showTeachers'>
     <h2>Taught by:</h2>
     <div *ngIf='instructorThumbnails'>
        
     <div class='instructorIcon' *ngFor='let instructor of instructorThumbnails'  (click)='showBio(instructor.user)'>
         <app-user-thumb [thumbnail]='instructor' *ngIf='instructor'></app-user-thumb>
     </div>
    </div>
    </div>
    </div>
</div>

<div class='popBio' *ngIf='showingBio'>
  <bio-pop [bioUser]='bioChosen' (closeMe)="closeBio($event)" [allowMessage]='false'></bio-pop>
</div>