<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Instructors</mat-panel-title>
    </mat-expansion-panel-header>
<app-user-list-component [users]="instructors" *ngIf='instructors' [showInstructorChoice]="false" [showSuspensionChoice]='false'></app-user-list-component>   
</mat-expansion-panel>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Instructor Assignments</mat-panel-title>
    </mat-expansion-panel-header>
    Assignments:
<app-assignments-component></app-assignments-component>
</mat-expansion-panel>