<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
      <mat-panel-title>Students</mat-panel-title>
  </mat-expansion-panel-header>
  USER LIST:
  <app-user-list-component [users]="users" *ngIf='users' [showInstructorChoice]="true" [showSuspensionChoice]="true"></app-user-list-component>   
</mat-expansion-panel>
<br>
<mat-expansion-panel>
  ENROLLMENTS:
  <mat-expansion-panel-header>
    <mat-panel-title>Student Enrollments</mat-panel-title>
  </mat-expansion-panel-header>

  <app-enrollments-component [users]="users" [enrollments]="enrollments" [classes]="classes"></app-enrollments-component>
</mat-expansion-panel>